*.class

# 去掉备份文件
*~

# 去掉中间结果文件

*@*

# 去掉zookeeper日志文件
/zookeeper.out

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
